@import "tailwindcss";

/* Theme Customizations */

@theme {
  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);
}

@layer utilities{
    button{
        @apply cursor-pointer;
    }
}

/* Custom CSS */

.scrolled {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    background-color: white;
    animation: scrolledIn 0.5s ease-in-out forwards;
}

@keyframes scrolledIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
